*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
.caja1{
    border: 2px solid black;
    background-image: url(../img/design1.jpg);
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;

}
h1{
    text-align: left;
    font-size: 5rem;
    font-family: “comic sans-serif, cursive;
}
.caja2{
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
    position: relative;
    font-family: “comic sans-serif, cursive;

}
.logo{
    width: 10%;
    position: absolute;    
    right: 10%;  
    top: -50px;
}
nav{
    font-family: “comic sans-serif, cursive;
    font-size: 20px;
    margin-top: 50px;
}
nav>a{
    height: 120px;
    margin-left: 20px;
    color: blue;
    display: flex;
    flex-direction: column;
    width: 10%;
}
nav>a.active{
    color: black;
    text-decoration: none;
}
section{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 8rem;
    font-family: “comic sans-serif, cursive;
    font-size: x-large;
    margin-top: 1rem;
    

}
section>h3{
    margin-top: 3rem;
    
}
section>p{
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: x-large;
    
}
.home{
    display: flex;
}


/*about*/

.articulo{
    width: 70%;
    margin-left: 10rem;
    display: flex;
    flex-wrap: wrap;
    font-family: “comic sans-serif, cursive;
    font-size: x-large;    
    
}
article>h3{
    margin-top: 50px;       
}
.home1{
    display: flex;
}

/*contacto*/
.mail{
    width: 70%;
    margin-left: 10rem;
    font-family: “comic sans-serif, cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: x-large;
    margin-top: 5rem;
}
.home2{
    display: flex;
}

/*games*/
.home3{
    display: flex;
    
   
}
.contenido{
    width: 90%;
    margin-left: 5rem;
}
.titulo{
    font-size: xx-large;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    
}

.fal{
    font-size: x-large;

}
.all{
    text-decoration: underline;
    margin-top: 15px;
    
}
th{
    position: relative;
    padding-top: 10px;
    padding-right: 110px;
    padding-bottom: 10px;
    margin-top: 10px;
   
    
   
}
td{
    position: relative;
    padding-left: 40px;
    padding-right: 60px;
    padding-bottom: 10px;
    width: 21rem;
}
.outdoor{
    
    font-family: “comic sans-serif, cursive;
    font-size: x-large;
    margin: 40px;
    padding: 20px;

}
.outdoor p{
    padding-top: 20px;
}
.phone{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}
iframe{
    
    padding: 10px;
    margin: 20px;
    border: 2px solid gray;
    width: 320px;
    height: 320px;
}
.mapas{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 20px;
}
.location{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(162, 202, 238);
   margin: 20px;
}


/*rules*/
.home4{
    display: flex;
    width: 100%;
}

.titulorules{
    margin-left: 20rem;
    text-align: center;
   
    font-family: “comic sans-serif, cursive;
}
.caja3{
   
    font-family: “comic sans-serif, cursive;
}
.caja3 h4{
    margin-left: 5rem;
    text-align: center;
}
.sport{
    font-family: “comic sans-serif, cursive;
}
.sport p{
    margin-top: 10px;
    text-indent: 40px;
    
}
li{
    margin-top: 20px;
}
.field{
    list-style-type: lower-alpha;
}
.play p{
    margin-top: 20px;
    text-indent: 40px;
}
.play1{
    margin-left: 100px;
    list-style-type: circle;
}

/*form*/
.home5{
    display: flex;
    width: 100%;
    
}
legend{
    font-family: “comic sans-serif, cursive;
    font-size: xx-large;
    font-weight: bold;
}
fieldset{
    font-family: “comic sans-serif, cursive;
    font-size: x-large;
    border: 0;
    margin: 1rem;
}
form{
    width: 90%;
    margin: 5rem;
    border-style: none;
    background-color: lightgray;
    
}
.personal{
    display: flex;
    flex-direction: column;
   
}
input{
    border: 0;
    border-bottom: 1px solid black;
}
.personal input{
    margin: 20px;
    width: 15rem;
}
.birth{
    display: flex;
    flex-direction: row;
    
}
.birth span{
    margin: 10px;
}
.grade{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.close{
    display: flex;
    flex-direction: column;
    order: 1;
   
}
.close1{
    display: flex;
    flex-direction: column;
    order: 2;
}
.closer{
    display: flex;
    flex-direction: row;
}
.uniform{
    display: flex;
    flex-direction: column;
}

.uniform1{
    display: flex;
    flex-direction: column;
}
.uni{
    display: flex;
    flex-direction: row;
}
.boton input{
    margin: 10px;
    padding: 20px;
    font-size: large;
    font-weight: bold;
}